
/*-----------------------Text animering------------------------------------------------*/

@keyframes changeTextColor {
    from {
        color: black;
        background-color: white;
        left: 12vw;
    }

    to {
        color: white;
        background-color: black;
        left: 66vw;
    }

}


/*-----------------------Bil 1 animering------------------------------------------------*/

@keyframes bil1Animation {
  0% {
    left: 0vw;
    top: 0vh;
  }
  25% {
    left: 20vw;
    top: 0vh;
  }
  50% {
    left: 30vw;
    top: 0vh;
  }
  75% {
    left: 60vw;
    top: 0vh;
  }

  100% {
    left: 80vw;
    top: 0vh;
  }
}


.bil1AfterClick {
        animation-name: bil1Animation;
        animation-duration: 10s;
        animation-iteration-count: 1;
        animation-timing-function: linear;
      
}


/*-----------------------Bil 2 animering------------------------------------------------*/

@keyframes bil2Animation {
  0% {
    left: 0vw;
    top: 0vh;
  }
  25% {
    left: 15vw;
    top: 0vh;
  }
  50% {
    left: 40vw;
    top: 0vh;
  }
  75% {
    left: 65vw;
    top: 0vh;
  }

  100% {
    left: 80vw;
    top: 0vh;
    
  }
}


.bil2AfterClick {
        animation-name: bil2Animation;
        animation-duration: 9s;
        animation-iteration-count: 1;
        animation-timing-function: linear;
      
}


/*-----------------------spinn animering------------------------------------------------*/

@keyframes spinnOnclick {
  0% {
    background-color: red;
    
    
  }
  10% {
    background-color: red;
    
    
  }
  20% {
    background-color: red;
    
    
  }
  30% {
    background-color: red;
    
    
  }
  40% {
    background-color: red;
    
    
  }
  50% {
    background-color: red;
    
    
  }
  60% {
    background-color: red;
    
    
  }
  80% {
    background-color: red;
    
    
  }
  90% {
    background-color: red;
    
    
  }

  99% {
    background-color: red;
    
    
  }

100% {
  background-color: green;
  
  
}}



.spinningOnClick {
  animation-name: spinnOnclick;
  animation-iteration-count: 1;
  animation-duration: 10.2s;
  animation-direction: alternate;
  animation-timing-function: ease-out;
  
}