@keyframes changeTextColor {
    from {
        color: black;
        background-color: white;
        transform: translateX(0);
    }

    to {
        color: white;
        background-color: black;
        transform: translateX(67vw);
    }

}

@keyframes diffrentMove {
    0% {
        left: 2vw;
        top: 0vh;
        
      }
      10% {
        left: 8vw;
        top: 10vh;
        
      }
      20% {
        left: 16vw;
        top: 0vh;
        
      }
      30% {
        left: 24vw;
        top: 10vh;
        
      }
      40% {
        left: 32vw;
        top: 0vh;
        
      }
      50% {
        left: 40vw;
        top: 10vh;
        
      }
      60% {
        left: 48vw; 
        top: 0vh;
        
      }
      70% {
        left: 56vw;
        top: 10vh;
        
      }
      80% {
        left: 64vw; 
        top: 0vh;
        
      }
      90% {
        left: 72vw;
        top: 10vh;
        
      }
      100% {
        left: 80vw;
        top: 0vh;
        
      }
}





.moveAfterClick {
        animation-name: diffrentMove;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
      
}


