
@use "variabels";

@mixin grid1x2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 100vh);
    width: 82vw;
    margin: -10% auto -15% auto;
    align-items: center;
    justify-content: center;
    gap: 1vw;
  
  }
  
  
  
  
  /*------------------------Images/size------------------------------------------*/
  @mixin imageDark ($imageWidth: 22vw){
      height: 60vh;
      object-fit: cover;
      margin: auto;
      display: block;
      border: 2px solid variabels.$borderdark-color !important;
  
    @if $imageWidth < 40vw {
      width: $imageWidth;
    } @else {
      width: 40vw;
    }
  }
  
  @mixin imageLight ($imageWidth: 22vw){
    height: 60vh;
    object-fit: cover;
    margin: auto;
    display: block;
    border: 2px solid variabels.$border-color;
  
  @if $imageWidth < 40vw {
    width: $imageWidth;
  } @else {
    width: 40vw;
  }
  }
  
  
  /*------------------------h1------------------------------------------*/
  @mixin h1Change {
    color: variabels.$text-color !important;
      text-align: center;
      text-decoration: underline;
  }
  
  /*------------------------Krav texter------------------------------------------*/
  @mixin hemsidaText{
    text-align: left;
      width: 50vw;
      margin: 0 auto;
      color: variabels.$text-color !important;
      display: block;
  }
  