

  
  /*Mörkt tema*/
  $dark-color: #333;
  $darktheme-background: lighten($dark-color, 20%);
  $headerbgdark-color: darken($dark-color, 10%);
  $hooverdark-color: lighten($dark-color, 60%);
  $textdark-color: white;
  $borderdark-color: white;
  
  
  /*Ljust tema*/
  $light-color: #fff;
  $lighttheme-background: $light-color;
  $headerbg-color: bisque;
  $text-color: black;
  $border-color: black;
  
  
/*----------------------------------Dark--------------------------------*/
  
  @media (prefers-color-scheme: dark) {
  
  
    nav {
      ul {
        padding: 1%;
        list-style: none;
      }
    
      li { 
        display: inline-block;
        
      }
    
      a {
        display: block;
        padding: 6px 12px;
        text-decoration: none;
        color: $textdark-color !important;
      }
  
      a:hover{
        background-color: $hooverdark-color !important;
        color: $text-color !important;
        border: 1px solid $borderdark-color !important;
      }
    }
  
 
}
  
  
  /*-------------------------------Light-----------------------------------*/
  
  nav {
      ul {
        padding: 1%;
        list-style: none;
      }
    
      li { 
        display: inline-block;
        
      }
    
      a {
        display: block;
        padding: 6px 12px;
        text-decoration: none;
        color: $text-color;
      }
  
      a:hover{
        background-color: $text-color;
        color: $light-color;
      }
    }
  
  
   
  
  
  