

nav {
    ul {
      padding: 1%;
      list-style: none;
    }
  
    li { 
      display: inline-block;
      
    }
  
    a {
      display: block;
      padding: 6px 12px;
      text-decoration: none;
      color: black;
    }

    a:hover{
      background-color: black;
      color: white;
    }
  }

header {
  background-color: bisque;
}
