

/*------------------------_nav.scss------------------------------------------*/
@use "nav";



/*------------------------Grid 1x2------------------------------------------*/



@mixin grid1x2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 100vh);
  width: 82vw;
  margin: -10% auto -15% auto;
  align-items: center;
  justify-content: center;
  gap: 1vw;

}




/*------------------------Images/size------------------------------------------*/
@mixin imageDark ($imageWidth: 22vw){
    height: 60vh;
    object-fit: cover;
    margin: auto;
    display: block;
    border: 2px solid $borderdark-color !important;

  @if $imageWidth < 40vw {
    width: $imageWidth;
  } @else {
    width: 40vw;
  }
}

@mixin imageLight ($imageWidth: 22vw){
  height: 60vh;
  object-fit: cover;
  margin: auto;
  display: block;
  border: 2px solid $border-color;

@if $imageWidth < 40vw {
  width: $imageWidth;
} @else {
  width: 40vw;
}
}


/*------------------------h1------------------------------------------*/
@mixin h1Change {
  color: $text-color !important;
    text-align: center;
    text-decoration: underline;
}

/*------------------------Krav texter------------------------------------------*/
@mixin hemsidaText{
  text-align: left;
    width: 50vw;
    margin: 0 auto;
    color: $text-color !important;
    display: block;
}




/*------------------------------------------------------------------*/
/*------------------------------------------------------------------*/
/*------------------------------------------------------------------*/
/*------------------------------------------------------------------*/
/*------------------------------------------------------------------*/


/*Mörkt tema*/
$dark-color: #333;
$darktheme-background: lighten($dark-color, 20%);
$headerbgdark-color: darken($dark-color, 10%);
$hooverdark-color: lighten($dark-color, 60%);
$textdark-color: lighten($dark-color, 90%);
$borderdark-color: lighten($dark-color, 100%);


/*Ljust tema*/
$light-color: #fff;
$lighttheme-background: $light-color;
$headerbg-color: bisque;
$text-color: darken($light-color, 100%);
$border-color: darken($light-color, 100%);

/*Font*/
$font-style: Arial, Helvetica, sans-serif;




@media (min-width: 1200px) and (max-width:6000px) {

/*------------------------Dark------------------------------------------*/


@media (prefers-color-scheme:dark) {

  body {
    background-color: $darktheme-background !important;
    font-family: $font-style;
    width: 100vw;
  }
  header {
    background-color: $headerbgdark-color !important;
    width: 100vw;
    margin-left: -1vw;
    margin-top: -2vh;
  }

/*----------------------Bilder grids--------------------------------------------*/
.picGrid {
  @include grid1x2;
  

  img {
    @include imageDark;
}
}

.picGrid2 {
  @include grid1x2;
  

  img {
    @include imageDark (50vw);
    
}
}

/*------------------------h1------------------------------------------*/
.h1Change{
  @include h1Change;
}

/*------------------------SASS------------------------------------------*/
.SASS {
  width: 50vw;
  margin: auto;

  h1{
    @include h1Change;
  }

  p{
    color: $text-color !important;
    text-align: left;
  }
}

/*------------------------Krav------------------------------------------*/
.hemsidaKrav {
  @include hemsidaText;

  h2{
    color: $text-color !important;
    text-decoration: underline;
  }

  p{
    color: $text-color !important;
  }
}


.sassKrav {
  @include hemsidaText;

}
}


 /*------------------------Light------------------------------------------*/


@media (prefers-color-scheme:light) {

  body {
    background-color: $lighttheme-background;
    font-family: $font-style;
    width: 100vw;
  }
  header {
    background-color: $headerbg-color;
    width: 100vw;
    margin-left: -1vw;
    margin-top: -2vh;
  }

/*----------------------Bilder grids--------------------------------------------*/
.picGrid {
  @include grid1x2;
  

  img {
    @include imageLight;
}
}

.picGrid2 {
  @include grid1x2;
  

  img {
    @include imageLight (50vw);
    
}
}

/*------------------------h1------------------------------------------*/
#h1Change{
  @include h1Change;
}

/*------------------------SASS------------------------------------------*/
.SASS {
  width: 50vw;
  margin: auto;

  h1{
    @include h1Change;
  }

  p{
    color: $text-color;
    text-align: left;
  }
}

/*------------------------Krav------------------------------------------*/

#hemsidaKrav {
  @include hemsidaText;

  h2{
    color: $text-color;
    text-decoration: underline;
  }

  p{
    color: $text-color;
  }
}


#sassKrav {
  @include hemsidaText;

}

}
  
}  

/*------------------------------------------------------------------*/
/*------------------------------------------------------------------*/
/*------------------------------------------------------------------*/
/*------------------------------------------------------------------*/
/*------------------------------------------------------------------*/

@media (min-width: 600) and (max-width:1199) {

  /*------------------------Dark------------------------------------------*/
  
  
  @media (prefers-color-scheme:dark) {
  
    body {
      background-color: $darktheme-background !important;
      font-family: $font-style;
      width: 100vw;
    }
    header {
      background-color: $headerbgdark-color !important;
      width: 100vw;
      margin-left: -1vw;
      margin-top: -2vh;
    }
  
  /*----------------------Bilder grids--------------------------------------------*/
  .picGrid {
    @include grid1x2;
    display: none;
    
  
    img {
      @include imageDark;
  }
  }
  
  .picGrid2 {
    @include grid1x2;
    
  
    img {
      @include imageDark (50vw);
      
  }
  }
  
  /*------------------------h1------------------------------------------*/
  .h1Change{
    @include h1Change;
  }
  
  /*------------------------SASS------------------------------------------*/
  .SASS {
    width: 50vw;
    margin: auto;
  
    h1{
      @include h1Change;
    }
  
    p{
      color: $text-color !important;
      text-align: left;
    }
  }
  
  /*------------------------Krav------------------------------------------*/
  .hemsidaKrav {
    @include hemsidaText;
  
    h2{
      color: $text-color !important;
      text-decoration: underline;
    }
  
    p{
      color: $text-color !important;
    }
  }
  
  
  .sassKrav {
    @include hemsidaText;
  
  }
  
  }
  
  
   /*------------------------Light------------------------------------------*/
  
  
  @media (prefers-color-scheme:light) {
  
    body {
      background-color: $lighttheme-background;
      font-family: $font-style;
      width: 100vw;
    }
    header {
      background-color: $headerbg-color;
      width: 100vw;
      margin-left: -1vw;
      margin-top: -2vh;
    }
  
  /*----------------------Bilder grids--------------------------------------------*/
  .picGrid {
    @include grid1x2;
    display: none;
    
  
    img {
      @include imageLight;
  }
  }
  
  .picGrid2 {
    @include grid1x2;
    
  
    img {
      @include imageLight (50vw);
      
  }
  }
  
  /*------------------------h1------------------------------------------*/
  #h1Change{
    color: $text-color;
      text-align: center;
      text-decoration: underline;
  }
  
  /*------------------------SASS------------------------------------------*/
  .SASS {
    width: 70vw;
    margin: auto;
  
    h1{
      @include h1Change;
    }
  
    p{
      color: $text-color;
      text-align: left;
    }
  }
  
  /*------------------------Krav------------------------------------------*/
  
  #hemsidaKrav {
    @include hemsidaText;
    width: 70vw;
  
    h2{
      color: $text-color;
      text-decoration: underline;
    }
  
    p{
      color: $text-color;
    }
  }
  
  #sassKrav {
    @include hemsidaText;
    width: 70vw;
  
  }
  } 
  }  


  /*------------------------------------------------------------------*/
/*------------------------------------------------------------------*/
/*------------------------------------------------------------------*/
/*------------------------------------------------------------------*/
/*------------------------------------------------------------------*/

@media (min-width: 300) and (max-width:599) {

  /*------------------------Dark------------------------------------------*/
  
  
  @media (prefers-color-scheme:dark) {
  
    body {
      background-color: $darktheme-background !important;
      font-family: $font-style;
      width: 100vw;
    }
    header {
      background-color: $headerbgdark-color !important;
      width: 100vw;
      margin-left: -1vw;
      margin-top: -2vh;
    }
  
  /*----------------------Bilder grids--------------------------------------------*/
  .picGrid {
    @include grid1x2;
    display: none;
    
  
    img {
      @include imageDark;
  }
  }
  
  .picGrid2 {
    @include grid1x2;
    
    
  
    img {
      @include imageDark (50vw);
      margin-top: -25vh;
      
  }
  }
  
  /*------------------------h1------------------------------------------*/
  .h1Change{
    @include h1Change;
  }
  
  /*------------------------SASS------------------------------------------*/
  .SASS {
    width: 50vw;
    margin: auto;
  
    h1{
      @include h1Change;
    }
  
    p{
      color: $text-color !important;
      text-align: left;
    }
  }
  
  /*------------------------Krav------------------------------------------*/
  .hemsidaKrav {
    @include hemsidaText;
  
    h2{
      color: $text-color !important;
      text-decoration: underline;
    }
  
    p{
      color: $text-color !important;
    }
  }
  
  
  .sassKrav {
    @include hemsidaText;
  
  }
  
  }
  
  
   /*------------------------Light------------------------------------------*/
  
  
  @media (prefers-color-scheme:light) {
  
    body {
      background-color: $lighttheme-background;
      font-family: $font-style;
      width: 100vw;
    }
    header {
      background-color: $headerbg-color;
      width: 100vw;
      margin-left: -1vw;
      margin-top: -2vh;
    }
  
  /*----------------------Bilder grids--------------------------------------------*/
  .picGrid {
    @include grid1x2;
    display: none;
    
  
    img {
      @include imageLight;
  }
  }
  
  .picGrid2 {
    @include grid1x2;
    
  
    img {
      @include imageLight (50vw);
      margin-top: -25vh;
      
  }
  }
  
  /*------------------------h1------------------------------------------*/
  #h1Change{
    color: $text-color;
      text-align: center;
      text-decoration: underline;
  }
  
  /*------------------------SASS------------------------------------------*/
  .SASS {
    width: 88vw;
    margin: auto;
  
    h1{
      @include h1Change;
    }
  
    p{
      color: $text-color;
      text-align: left;
    }
  }
  
  /*------------------------Krav------------------------------------------*/
  
  #hemsidaKrav {
    @include hemsidaText;
    width: 88vw;
  
    h2{
      color: $text-color;
      text-decoration: underline;
    }
  
    p{
      color: $text-color;
    }
  }
  
  #sassKrav {
    @include hemsidaText;
    width: 88vw;
  
  }
  } 
  }  