

/*------------------------@use------------------------------------------*/
@use "partials/nav";
@use "partials/animation";
@use "partials/variabels";
@use "partials/mixin";


/*------------------------Dark------------------------------------------*/

@media (prefers-color-scheme:dark) {

  body {
    background-color: variabels.$darktheme-background !important;
    font-family: variabels.$font-style;
    width: 100vw;
    overflow-x: hidden;
  }
  header {
    background-color: variabels.$headerbgdark-color !important;
    width: 110vw;
    height: 8vh;
    margin-left: -2vw;
    margin-top: -2vh;
  }

/*----------------------Bilder grids--------------------------------------------*/
.picGrid {
  @include mixin.grid1x2;
  

  img {
    @include mixin.imageDark;
}
}

.picGrid2 {
  @include mixin.grid1x2;
  

  img {
    @include mixin.imageDark (50vw);
    
}
}

/*------------------------h1------------------------------------------*/
.h1Change{
  @include mixin.h1Change;
}

/*------------------------SASS------------------------------------------*/
.SASS {
  width: 50vw;
  margin: auto;

  h1{
    @include mixin.h1Change;
  }

  p{
    color: variabels.$text-color !important;
    text-align: left;
  }
}

/*------------------------Krav------------------------------------------*/
.hemsidaKrav {
  @include mixin.hemsidaText;

  h2{
    color: variabels.$text-color !important;
    text-decoration: underline;
  }

  p{
    color: variabels.$text-color !important;
  }
}


.sassKrav {
  @include mixin.hemsidaText;

}

/*------------------------Animationer Text------------------------------------------*/
  
#animationText {
  text-align: center;
  width: 15vw;
  padding: 2%;
  font-size: 130%;
  animation-name: changeTextColor;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  border-radius: 50%;
  position: relative;
  animation-timing-function: linear;
  

}


/*------------------------Animationer Knapp------------------------------------------*/

.buttonDiv{
  text-align: center;
  margin-top: 0vh;
  position: relative;
  padding-bottom: 50vh;
 
}

#buttonAnimation {
  text-align: center;
  height: 5vh;
  width: fit-content;
  font-weight: 900;
  font-size: 100%;
  position: relative;
  background-color: green;
  
}


/*------------------------Animationer race------------------------------------------*/



#bil1Animation {
    img{
      width: 7vw;
      margin-top: 3vh;
      
    }
  position: relative;
  
  
 }
 
 #bil2Animation{
  img{
    width: 7vw;
  }
   position: relative;
  
 }

 #allaBilar {
  background-image: url(/bilder/bana.jpg);
  background-repeat:no-repeat;
  background-size:contain;
  height: 25vh;
  width: 88vw;
  position: relative;
  margin-left: 5vw;
  

 }


/*------------------------Diagram------------------------------------------*/

#divDiagramOne {
  width: 50vw;
  height: fit-content;
  margin: auto;
  top: 10vh;
  margin-bottom: 10%;
  background-color: antiquewhite;
  position: relative;
}


#divDiagramTwo {
  width: 30vw;
  height: fit-content;
  margin: auto;
  margin-bottom: 10%;
  background-color: antiquewhite;
  position: relative;
}


#iFrameID{
  width: 60vw;
  height: 60vh;
}

.mapDiv {
  margin: 0 auto;
  position: relative;
  top: 10vh;
  text-align: center;

  button {
    height: 4vh;
    width: fit-content;
  }

  input {
    height: 3vh;
    width: 25vw;
  }
}



 /*------------------------Media------------------------------------------*/
 /*------------------------Media------------------------------------------*/
 /*------------------------Media------------------------------------------*/
 /*------------------------Media------------------------------------------*/
 /*------------------------Media------------------------------------------*/
@media (max-width:1025) {

 .sassKrav {
  width: 80vw;
 }
  
 .hemsidaKrav{
  width: 80vw;
 }

 .SASS{
  width: 80vw;
 }
 .otis{
  display: none;
 }

 #bil1Animation {
  img{
    width: 7vw;
    margin-top: 1vh;
  }
position: relative;


}

#bil2Animation{
img{
  width: 7vw;
  margin-bottom: 4vh;
  margin-top: -2vh;
  
}
 position: relative;
 
}

#divDiagramOne {
  width: 90vw;
  height: fit-content;
  margin: 0 auto;
  
  background-color: antiquewhite;
  position: relative;
}


#divDiagramTwo {
  width: 80vw;
  height: fit-content;
  margin: 0 auto;
  margin-top: 40%;
  background-color: antiquewhite;
  position: relative;
}
 }


}



 /*------------------------Light------------------------------------------*/


@media (prefers-color-scheme:light) {

  body {
    background-color: variabels.$lighttheme-background;
    font-family: variabels.$font-style;
    width: 100vw;
  }
  header {
    background-color: variabels.$headerbg-color;
    width: 110vw;
    height: 8vh;
    margin-left: -2vw;
    margin-top: -2vh;
  }



/*----------------------Bilder grids--------------------------------------------*/
.picGrid {
  @include mixin.grid1x2;
  

  img {
    @include mixin.imageLight;
}
}

.picGrid2 {
  @include mixin.grid1x2;
  

  img {
    @include mixin.imageLight (50vw);
    
}
}

/*------------------------h1------------------------------------------*/
#h1Change{
  @include mixin.h1Change;
}

/*------------------------SASS------------------------------------------*/
.SASS {
  width: 50vw;
  margin: auto;

  h1{
    @include mixin.h1Change;
  }

  p{
    color: variabels.$text-color;
    text-align: left;
  }
}

/*------------------------Krav------------------------------------------*/

#hemsidaKrav {
  @include mixin.hemsidaText;

  h2{
    color: variabels.$text-color;
    text-decoration: underline;
  }

  p{
    color: variabels.$text-color;
  }
}


#sassKrav {
  @include mixin.hemsidaText;

}


/*------------------------Animationer Text------------------------------------------*/
  
#animationText {
  text-align: center;
  width: 15vw;
  font-size: 130%;
  animation-name: changeTextColor;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  border-radius: 50%;
  padding: 2%;
  position: relative;
  animation-timing-function: linear;

}


/*------------------------Animationer Knapp------------------------------------------*/

.buttonDiv{
  text-align: center;
  margin-top: 2vh;
  position: relative;
  padding-bottom: 50vh;
 
}

#buttonAnimation {
  text-align: center;
  height: 5vh;
  width: fit-content;
  font-weight: 900;
  font-size: 100%;
  position: relative;
  background-color: green;
  
}


/*------------------------Animationer race------------------------------------------*/



#bil1Animation {
  img{
    width: 7vw;
    margin-top: 3vh;
    
  }
position: relative;


}

#bil2Animation{
img{
  width: 7vw;
}
 position: relative;

}

#allaBilar {
background-image: url(/bilder/bana.jpg);
background-repeat:no-repeat;
background-size:contain;
height: 25vh;
width: 88vw;
position: relative;
margin-left: 5vw;


}

#divDiagramOne {
  width: 50vw;
  height: fit-content;
  margin: auto;
  top: 10vh;
  margin-bottom: 10%;
  background-color: antiquewhite;
  position: relative;
}


#divDiagramTwo {
  width: 30vw;
  height: fit-content;
  margin: auto;
  margin-bottom: 10%;
  background-color: antiquewhite;
  position: relative;
}


#iFrameID{
  width: 60vw;
  height: 60vh;
}

.mapDiv {
  margin: 0 auto;
  position: relative;
  top: 10vh;
  text-align: center;

  button {
    height: 4vh;
    width: fit-content;
  }


  input {
    height: 3vh;
    width: 25vw;
  }
}


 
/*------------------------Media------------------------------------------*/
 /*------------------------Media------------------------------------------*/
 /*------------------------Media------------------------------------------*/
 /*------------------------Media------------------------------------------*/
 /*------------------------Media------------------------------------------*/
 @media (max-width:1025) {

  .sassKrav {
   width: 80vw;
  }
   
  .hemsidaKrav{
   width: 80vw;
  }
 
  .SASS{
   width: 80vw;
  }
  .otis{
   display: none;
  }
 
  #bil1Animation {
   img{
     width: 7vw;
     margin-top: 1vh;
   }
 position: relative;
 
 
 }
 
 #bil2Animation{
 img{
   width: 7vw;
   margin-bottom: 4vh;
   margin-top: -2vh;
   
 }
  position: relative;
  
 }

 #divDiagramOne {
  width: 90vw;
  height: fit-content;
  margin: 0 auto;
  
  background-color: antiquewhite;
  position: relative;
}


#divDiagramTwo {
  width: 80vw;
  height: fit-content;
  margin: 0 auto;
  margin-top: 40%;
  background-color: antiquewhite;
  position: relative;
}

  }
 
 }
 
 

 


  

